/* spacing on all sections */

@font-face {
  font-family: 'Orbitron';
  src: url('webfonts/Orbitron-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: 
       url('../webfonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

#skills,
#portfolio,
#contact {
  margin-top: 1.5rem;
  padding-top: 4rem;
}

#about h2,
#skills h2,
#portfolio h2,
#contact h2 {
  margin-bottom: 3rem;
  color: #2a4740; /* Couleur foncée pour bon contraste */
  font-family: orbitron, sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
}

#contact {
  padding-bottom: 4rem;
}
.logo-tech {
  font-family: "Orbitron", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: #f6f9f8;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: #f5e4dc !important;
}

.logo-tech .qa-icon {
  font-size: 1.1rem;
  color: #f5e4dc;
}

.logo-tech .initials {
  font-weight: 500;
  font-size: 1.5rem;
  color: #f7d6d0;
  margin-left: 0.4rem;
}
/* display background dark color on navbar scroll */
.navbarScroll {
  background-color: #1f3b35;
}

.navbarScroll.navbarDark {
  background-color: #1f1e1e;
  color: white;
}

.navbar-nav .nav-link {
  color: #f5f5f3 !important;
  font-weight: bold;
  font-family: orbitron, sans-serif;
}


.navbar-brand {
  color: #f6f9f8 !important;
  font-weight: bold;
}

/* hero background image */

.bgimage {
  height: 85vh;
  max-height: 900px;
  background-size: cover;
  background-position: center;
  position: relative;
  background: linear-gradient(135deg, #fefefe, #f3f7f5);
}

.px-5 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.hero_title {
  font-size: 2.8rem;
  font-weight: 300;
  color: #1d3c35;
  margin-left: 3.5rem;
  margin-right: 0;
  margin-top: -7rem;
  margin-bottom: 0;
}

.hero_title .name-highlight {
  font-weight: 700;
  color: #317873;
  font-size: 3rem;
  letter-spacing: -1px;
  position: relative;
}

.hero_desc {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 500;
  color: #1d3c35;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideIn 1s ease forwards;
  animation-delay: 0.3s;
  margin-left: 3.5rem;
  margin-right: 0;
  margin-top: 2rem;
  margin-bottom: 0;
  -webkit-animation: fadeSlideIn 1s ease forwards;
}
.hero_desc::after {
  display: none !important;
}
@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.highlight {
  background-color: #f5e4dc;
  padding: 0 0.2rem;
  border-radius: 4px;
}

.hero_text {
  max-width: 600px;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #222;
  margin-left: 3.5rem;
  margin-right: 0;
  margin-top: -11rem;
  margin-bottom: 0;
}

.imageHome {
  width: 100%;
  max-width: 450px;
  height: auto;
  aspect-ratio: 1 / 1; /* Important pour réserver l’espace */
  object-fit: contain;
  display: block;
  margin: 2rem auto 0 auto; /* Centré proprement */
}
/* ******* Bouton CV ******* */
.button {
  display: flex;
  justify-content: start;
  padding-top: 10px;
  margin: 10rem auto;
  margin-left: 3.5rem;
  margin-right: 0;
  margin-top: 1rem;
  margin-bottom: 0;
}

#button_cv {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  border: 2px solid #2a4740;
  padding: 0.8rem 1.5rem;
  background: white;
  color: #2a4740;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
}

#button_cv:hover {
  background-color: #2a4740;
  color: white;
}

.btn-outline-dark:hover {
  background-color: #2a4740 !important;
  color: white !important;
}

/* skills */
#skills {
  border-top: 2px solid #d5131300;
  padding-top: 3rem;
  margin-top: 2rem;
  background-color: #ffffff;
}

#skills::before {
  content: "";
  display: block;
  height: 10px;
  margin-bottom: 2rem;
}
.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
  margin-bottom: 1rem;
  font-family: orbitron, sans-serif;
}

.text-centre {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  margin-bottom: 2.5rem;
  color: #2a4740;
}
.text-center {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  margin-bottom: 2.5rem;
  color: #2a4740;
}

.text-center::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  margin: 0.8rem auto 0;
  border-radius: 2px;
  background: linear-gradient(to right, #f5e4dc, #c48d83);
}

.text-center:hover::after {
  width: 150px;
}

.skillsText.card,
.portfolioContent.card {
  background-color: #ffffff;
  color: #000000;
}

.skillsText.card {
  height: 350px;
  cursor: pointer;
}

.skillsText img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

#skills p {
  text-align: center;
  color: #000000;
}

.skillsIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}

.card-title {
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-size: 1.2rem;
}

.card:hover .skillsIcon {
  color: 1F3B35;
}

.skillsText:hover {
  border: 1px solid #1f3b35;
}

#filter-buttons {
  text-align: center !important;
}

.btn-outline-primary {
  color: #1f3b35 !important;
  border-color: #1f3b35 !important;
  transition: all 0.3s ease-in-out;
}

.btn-outline-primary:hover {
  background-color: #2a4740 !important;
  color: #ffffff !important;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem #f5e4dc !important;
}

/* portfolio */

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover; /* pour garder les proportions sans déformation */
}
.portfolioContent {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 700px;
}

.portfolioContent .card-img-top {
  transition: transform 0.3s ease-in-out;
}

.portfolioContent:hover .card-img-top {
  transform: scale(1.05);
}

.btn-success {
  background-color: #2a4740 !important;
  color: white !important;
  border-color: white !important;
}

/* Overlay animé */
.portfolioContent .card-overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 59, 53, 0.95); /* vert foncé avec opacité */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  transition: bottom 0.4s ease-in-out;
}

.portfolioContent:hover .card-overlay {
  bottom: 0;
}

.card-overlay p {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}

.card-overlay a {
  margin-top: 1rem;
  font-size: 0.95rem;
}
.portfolio-card {
  position: relative;
  width: 100%;
  max-width: 1024px;
  aspect-ratio: 16 / 5; /* équivalent à 1600/500 ou 1024/320 */
  overflow: hidden;
  margin: 0 auto;
}

.portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2a4740;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  padding: 1rem;
  font-family: orbitron, sans-serif;
}

.portfolio-card:hover .portfolio-overlay {
  opacity: 1;
}
.portfolio-overlay h3 {
  font: size 600px;
  margin-bottom: 0.5rem;
  border: 2px solid white;
  border-radius: 10px;
  padding: 0.5rem;
}

.portfolio-overlay p {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  font-family: orbitron, sans-serif;
  font-weight: 400;
 
}

.portfolio-overlay a.btn {
  font-size: clamp(0.9rem, 1.8vw, 1.1rem);
  padding: 0.5rem 1rem;
  border: 2px solid white;
}
#portfolio p {
  text-align: center;
  color: #ffffff;
}

.card-text {
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  padding: 0.5rem 0.8rem;
  font-size: 1.5rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
}

.carousel-btn:hover {
  background: rgba(255, 255, 255, 0.7);
}

.carousel-btn.prev {
  left: 10px;
}
.carousel-btn.next {
  right: 10px;
}

/* contact */
.contactColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contactColumn i {
  color: #198754;
  margin-bottom: 1rem;
}

.contactColumn h3 {
  color: #2a4740;
  font-weight: bold;
}

.contactColumn p {
  color: #000000;
}

/* footer */
.footer-custom {
  background-color: #1f3b35;
  color: #f5f5f3;
  padding: 1rem;
}

.container-footer {
  display: flex;
  justify-content: center; /* centre le texte */
  align-items: center;
  position: relative;
}

.footer-text {
  margin: 0 auto; /* centre horizontalement */
  text-align: center;
  flex: 1;
}

.scroll-top {
  position: absolute;
  right: 1.5rem;
  color: #ffffff;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.scroll-top:hover {
  transform: translateY(-5px);
  color: #198754;
}

/* ******* MEDIA QUERIES ******* */

@media (min-width: 992px) and (max-width: 1199px) {
  /* Réduction de la taille de la bannière */
  .bgimage {
    /* width: auto; */
    height: 750px;
    padding: 4rem 0;
  }

  /* Réduction de la taille du titre */
  .hero_title {
    font-size: 2.4rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .hero_title .name-highlight {
    font-size: 3.2rem;
  }

  /* Sous-titre */
  .hero_desc {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  /* Texte de présentation */
  .hero_text {
    font-size: 1rem;
    max-width: 540px;
    margin: 1.5rem 2rem 0 2rem;
    line-height: 1.5; 
    margin-top: -7rem;
  }

  /* Bouton CV */
  .hero_text .btn {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
    margin-top: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* Réduire la taille de l’image */
  .imageHome {
    max-width: 320px;
    margin: 1rem auto 0 auto !important;
    display: block;
  }

  /* Remonter le texte */
  .hero_text {
    margin-top: 1rem !important;
    padding: 0 2rem;
    text-align: justify;
  }

  /* Remonter le bouton aussi (via la classe du lien) */
  .hero_text .btn {
    margin-top: 2rem !important;
    display: inline-block;
  }

  /* Optionnel : réduire un peu les titres aussi */
  .hero_title {
    font-size: 2rem;
  }

  .hero_desc {
    font-size: 1.4rem;
  }
  .hero_title .name-highlight {
    font-size: 2.1rem;
  }
}

@media (max-width: 576px) {
  #about,
  #skills,
  #portfolio,
  #contact {
    margin-top: 0.1rem !important;
    padding-top: 0.1rem !important;
  }
  .scroll-top {
    position: absolute;
    right: 1rem;
    color: #198754;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
    margin-bottom: 150px;
  }
  .scroll-top:hover {
    transform: translateY(-5px);
    color: #ffffff;
  }
  .card-img-top {
    height: 450px;
  }

  .portfolioContent {
    height: auto;
  }
  .row.align-items-center {
    padding-top: 4rem;
  }
  .hero_title {
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: center;
  }

  .hero_desc {
    margin-left: 0 !important;
    margin-top: 0.5rem !important;
    text-align: center;
  }
  .hero_title .name-highlight {
    font-size: 1.5rem;
  }
  .hero_text {
    margin: 1rem auto !important;
    padding: 0 1.5rem !important;
    text-align: justify;
    font-size: 1rem;
  }

  .button {
    margin: 1.5rem auto !important;
    justify-content: center;
  }

  .bgimage {
    height: auto !important;
    padding-bottom: 2rem;
    padding-top: 3rem;
  }
  .imageHome {
    max-width: 300px;
  }
  #skills {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
  }
  #skills .text-center {
    margin-top: 2.5rem !important;
    padding-top: 2rem;
  }
}

@media (max-width: 982px) {
  #about,
  #skills,
  #portfolio,
  #contact {
    margin-top: 0.1rem !important;
    padding-top: 0.1rem !important;
  }
  .card-img-top {
    height: 450px;
  }

  .portfolioContent {
    height: auto;
  }
  .row.align-items-center {
    padding-top: 4rem;
  }
  .hero_title {
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: center;
  }
  .name-highlight {
    font-weight: 700;

    font-size: 2.5rem;
  }
  .hero_desc {
    margin-left: 0 !important;
    margin-top: 0.5rem !important;
    text-align: center;
  }

  .hero_text {
    margin: 1rem auto !important;
    padding: 0 1.5rem !important;
    text-align: justify;
  }

  .imageHome {
    margin: 1.5rem auto !important;
    display: block;
  }

  .button {
    margin: 1.5rem auto !important;
    justify-content: center;
  }

  .bgimage {
    height: auto !important;
    padding-bottom: 2rem;
    padding-top: 3rem;
  }
  #skills .text-center {
    margin-top: 2.5rem !important;
    padding-top: 2rem;
  }


}

@media (max-width: 1024px) {
  #about,
  #skills,
  #portfolio,
  #contact {
    margin-top: 0.1rem !important;
    padding-top: 0.1rem !important;
  }
  .hero_title {
    font-size: 1.8rem;
    margin-top: 50px;
    padding-bottom: 2px;
  }
}
